# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docview

# OS
.DS_Store
Thumbs.db

# JetBrains Rider
.idea/